<ion-view view-title="{{weekSchedule.title}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side='secondary'>
      <a href="#/weekSelection" class="button button-assertive">{{weekNumber}}</a>
    </ion-nav-buttons>
    <ion-nav-buttons side='primary'>
      <a href="#/" class="button button-icon icon ion-navicon"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

   <ion-tabs class="tabs-energized tabs-top">
    <ion-tab title="Mon">
      <ion-view>
        <ion-content>
          <div class="card" ng-repeat="subject in weekSchedule.weekdays[0].subjects" type="item-text-wrap" href="#">
            <ion-item class="timeHeader">
              {{subject.date.start | date: 'HH:mm'}} - {{subject.date.end | date: 'HH:mm'}}
            </ion-item>
            <ion-item>
              <div class="subjectTitle item-text-wrap">{{subject.subject.name}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.teachers)}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.rooms)}}</div>
            </ion-item>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Tues">
      <ion-view>
        <ion-content>
          <div class="card" ng-repeat="subject in weekSchedule.weekdays[1].subjects" type="item-text-wrap" href="#">
            <ion-item class="timeHeader">
              {{subject.date.start | date: 'HH:mm'}} - {{subject.date.end | date: 'HH:mm'}}
            </ion-item>
            <ion-item>
              <div class="subjectTitle item-text-wrap">{{subject.subject.name}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.teachers)}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.rooms)}}</div>
            </ion-item>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Wed">
      <ion-view>
        <ion-content>
          <div class="card" ng-repeat="subject in weekSchedule.weekdays[2].subjects" type="item-text-wrap" href="#">
            <ion-item class="timeHeader">
              {{subject.date.start | date: 'HH:mm'}} - {{subject.date.end | date: 'HH:mm'}}
            </ion-item>
            <ion-item>
              <div class="subjectTitle item-text-wrap">{{subject.subject.name}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.teachers)}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.rooms)}}</div>
            </ion-item>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Thu">
      <ion-view>
        <ion-content>
          <div class="card" ng-repeat="subject in weekSchedule.weekdays[3].subjects" type="item-text-wrap" href="#">
            <ion-item class="timeHeader">
              {{subject.date.start | date: 'HH:mm'}} - {{subject.date.end | date: 'HH:mm'}}
            </ion-item>
            <ion-item>
              <div class="subjectTitle item-text-wrap">{{subject.subject.name}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.teachers)}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.rooms)}}</div>
            </ion-item>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Fri">
      <ion-view>
        <ion-content>
          <div class="card" ng-repeat="subject in weekSchedule.weekdays[4].subjects" type="item-text-wrap" href="#">
            <ion-item class="timeHeader">
              {{subject.date.start | date: 'HH:mm'}} - {{subject.date.end | date: 'HH:mm'}}
            </ion-item>
            <ion-item>
              <div class="subjectTitle item-text-wrap">{{subject.subject.name}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.teachers)}}</div>
              <div class="subjectInfo item-text-wrap">{{toCommaSeparatedString(subject.rooms)}}</div>
            </ion-item>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>
  </ion-tabs>

  <div class="bar bar-footer bar-energized">
    <div class="button-bar">
      <a class="button icon-left ion-chevron-left" ng-click="getTimetableByWeekNumber(weekNumber - 1)">Previous</a>
      <a class="button" ng-click="requestTimetable('')">Current</a>
      <a class="button icon-right ion-chevron-right" ng-click="getTimetableByWeekNumber(weekNumber + 1)">Next</a>
    </div>
  </div>
</ion-view>
