<ion-view view-title="Select Schedule">
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate" type="item-text-wrap" href="#/scheduleSelection/Groups">
        <h2>Groups</h2>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap" href="#/scheduleSelection/Rooms">
        <h2>Rooms</h2>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap" href="#/scheduleSelection/Teachers">
        <h2>Teachers</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
