.item {
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.timeHeader{
  background-color: #0eba08;
  color: white;
}

.subjectTitle{
  padding-bottom: 5px;
  font-weight: 500;
}

.subjectInfo{
  font-weight: lighter;
  font-size: small;
  padding-left: 5px;
}
